<template>
	<div>
		<h1>Containers</h1>


		<nav class="navbar navbar-default">
			<div class="container">
				<button v-on:click="stop" type="button" class="btn btn-default navbar-btn btn-primary">Stop</button>
			</div>
		  </nav>

		<table class="table">
			<thead>
				<tr>
					<th></th>
					<th>State</th>
					<th>Name</th>
					<th>Image</th>
					<th>IPAddress</th>
					<th>Published Ports</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="item in containers">
					<td><input type="checkbox" v-bind:value="item" v-model="checkedContainers"></td>
					<td>{{ item.state }}</td>
					<td>{{ item.names[0] }}</td>
					<td>{{ item.image }}</td>
					<td><span v-for="ip in item.ipAddresses">{{ ip }} </span></td>
					<td><span v-for="port in item.ports"><span v-if="port.PublicPort">{{ port.PublicPort }}:{{ port.PrivatePort }} </span></span></td>
				</tr>
			</tbody>
		</table>
	</div>
</template>

<script src="./containerList.ts"></script>
